[Unit]
Description=Scan2epub service
After=network.target

[Service]
ExecStart=/usr/bin/scan2epub inter
Restart=always
User=1000
Group=1000
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target
